@import "/vendor/filament/filament/resources/css/theme.css";
@import "../../../../vendor/awcodes/filament-table-repeater/resources/css/plugin.css";
@import "../../../../vendor/asmit/resized-column/resources/css/resized-column.css";
@config 'tailwind.config.js';

.fi-ta-table > tbody {
    @apply divide-none;
}

.fi-ta-table > tbody {
    @apply divide-none;
}

.fi-ta-text {
    @apply py-0.5;
}

.fi-ta-table > .whitespace-nowrap {
    @apply py-0.5;
}

.fi-ta-cell > div:has(.flex) {
    @apply py-0.5;
}

.fi-ta-table th {
    position: sticky;
    top: 0; /* Ensures the header sticks to the very top */
    z-index: 10; /* Adjust z-index as needed to ensure it appears above other content */
    /* Add other styling for appearance, e.g., borders, padding */
    border-bottom: 1px solid #e5e7eb;
}

/* You might need to unset overflow properties on parent containers */
.fi-ta-content {
    overflow: unset !important;
}

.fi-ta-ctn {
    overflow: unset !important;
}

html {
    font-size: 0.8em !important;
}

.row_si{
    background-color: #4ade80;
    color: #fcfcfc;
}

.row_si:hover{
    background-color: #63a35c;
    color: #fcfcfc;
}

.row_si:active{
    background-color: #63a35c;
    color: #fcfcfc;
}

.row_pa{
    background-color: #fd7e14;
    color: #fcfcfc;
}

.row_pa:hover{
    background-color: #aa5500;
    color: #fcfcfc;
}

.row_si:active{
    background-color: #aa5500;
    color: #fcfcfc;
}
